body {
    margin: 0;
    padding:0;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

body {
    background-color:#111;
}

.ui {
    position: absolute;
}

.hd {
    width:1920px;
    height:1080px;
}

.wrapper {
    overflow: hidden;
}

.page_bg {
    background-image: url(../img/cns_bg.jpg);
    background-size: cover;
}

.top_bar {
    width:1920px;
    height:192px;
    top:148px;
    overflow: hidden;
}

.logo_left {
    background-color: #C9161C;
    height: 192px;
    width: 186px;
    display: inline-block;
    margin-right: 0;
}

.logo {
    background-image: url(../img/logo.png);
    width:590px;
    height: 192px;
    display: inline-block;
}

.logo_right {
    background-color: #C9161C;
    height: 192px;
    width:1144px;
    display: inline-block;
}

.game_menu {
    height: 186px;
    width:1920px;
    top:842px;
    overflow: hidden;
}

.game_menu_left {
    background-color: #00467A;
    width:40%;
    height: 42px;
    top:140px;
    display: inline-block;
}

.button {
    width:196px;
    height: 186px;
    display: inline-block;
}

.game_menu_right {
    background-color: #00467A;
    width:100%;
    height: 42px;
    top:144px;
    display: inline-block;
}

#btn_1 {
    background-image: url(../img/btn_idel.png);
}

#btn_1:hover {
    background-image: url(../img/btn_hover.png);
}

#btn_2 {
    background-image: url(../img/btn_idel.png);
}

#btn_2:hover {
    background-image: url(../img/btn_hover.png);
}

#btn_3 {
    background-image: url(../img/btn_idel.png);
}

#btn_3:hover {
    background-image: url(../img/btn_hover.png);
}

#btn_4 {
    background-image: url(../img/btn_idel.png);
}

#btn_4:hover {
    background-image: url(../img/btn_hover.png);
}