body {
    margin: 0;
    padding:0;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

body {
    background-color:#111;
}

.ui {
    position: absolute;
}

.hd {
    width:1920px;
    height:1080px;
}

.wrapper {
    overflow: hidden;
}

/* Index */

.page_bg {
    background-image: url(../img/cns_bg.jpg);
    background-size: cover;
}

.top_bar {
    width:1920px;
    height:192px;
    top:148px;
    overflow: hidden;
}

.logo_left {
    background-image: url(../img/top_bar_bg.png);
    height: 192px;
    width: 186px;
    display: inline-block;
    margin-right: 0;
}

.logo {
    background-image: url(../img/logo.png);
    width:590px;
    height: 192px;
    display: inline-block;
}

.logo_right {
    background-image: url(../img/top_bar_bg.png);
    height: 192px;
    width:1144px;
    display: inline-block;
}

.game_menu {
    height: 186px;
    width:1920px;
    top:842px;
    overflow: hidden;
}

.game_menu_left {
    background-color: #00467A;
    width:40%;
    height: 42px;
    top:140px;
    display: inline-block;
}

.button {
    width:196px;
    height: 186px;
    display: inline-block;
}

.game_menu_right {
    background-color: #00467A;
    width:100%;
    height: 42px;
    top:144px;
    display: inline-block;
}

#btn_1 {
    background-image: url(../img/btn_idel.png);
}

#btn_1:hover {
    background-image: url(../img/btn_hover.png);
}

#btn_2 {
    background-image: url(../img/btn_idel.png);
}

#btn_2:hover {
    background-image: url(../img/btn_hover.png);
}

#btn_3 {
    background-image: url(../img/btn_idel.png);
}

#btn_3:hover {
    background-image: url(../img/btn_hover.png);
}

#btn_4 {
    background-image: url(../img/btn_idel.png);
}

#btn_4:hover {
    background-image: url(../img/btn_hover.png);
}

/* Team VS Order */

.team_vs_order_bar {
    width: 1920px;
    height:270px;
    overflow: hidden;
    top: 802px;
}

.team_vs_order_bar_under {
    width: 1920px;
    height: 52px;
    background-color: #333;
    top:108px;
}

.team_vs_order_bar_position {
    background-image: url(../img/order_bar_p_bg.png);
    background-size: cover;
    position: absolute;
    top: 12px;
}

.order_bar_content {
    width: 342px;
    height: 220px;
    background-size: cover;
    margin-top:12px;
    margin-left:16px;
    position: absolute;
}

#odr_bar_p1 {
    width: 368px;
    height: 246px;
    left: 110px;
    z-index: 0;
}

#odr_bar_p2 {
    width: 368px;
    height: 246px;
    left: 442px;
    z-index: 0;
}

#odr_bar_p3 {
    width: 368px;
    height: 246px;
    left: 774px;
    z-index: 0;
}

#odr_bar_p4 {
    width: 368px;
    height: 246px;
    left: 1106px;
    z-index: 0;
}

#odr_bar_p5 {
    width: 368px;
    height: 246px;
    left: 1438px;
    z-index: 0;
}

#odr_bar_cnt_1 {
    background-image: url(../img/order_bar_avatar/odr_bar_1st.png);
}

#odr_bar_cnt_2 {
    background-image: url(../img/order_bar_avatar/odr_bar_2nd.png);
}

#odr_bar_cnt_3 {
    background-image: url(../img/order_bar_avatar/odr_bar_3rd.png);
}

/*

#odr_bar_cnt_4 {
    background-image: url(../img/order_bar_avatar/odr_bar_4th.png);
}

*/

#odr_bar_cnt_5 {
    background-image: url(../img/order_bar_avatar/odr_bar_5th.png);
}

.order_bar_lock_icon {
    width: 50px;
    height: 50px;
    background-image: url(../img/order_bar_p_locked.png);
    position: absolute;
    display: none;
    top:16px;
    left:28px;
}

/* Selected and Locked */

#odr_bar_cnt_3 {
    background-image: url(../img/order_bar_avatar/odr_bar_02.png);
}

#odr_bar_cnt_4 {
    background-image: url(../img/order_bar_avatar/odr_bar_01.png);
}

#odr_bar_slc_3 {
    background-image: url(../img/order_bar_avatar/odr_bar_mask_3rd.png);
    display: block;
}

#odr_bar_slc_4 {
    background-image: url(../img/order_bar_avatar/odr_bar_mask_4th.png);
    display: block;
}

#odr_bar_lck_4 {
    display: block;
}

/* Focus 

#odr_bar_p2 {
    width: 406px;
    height: 270px;
    left: 442px;
    z-index: 10;
    margin-left:-12px;
    margin-top:-12px;
}

#odr_bar_cnt_2 {
    background-image: url(../img/order_bar_avatar/odr_bar_03.png);
    width: 378px;
    height: 244px;
    background-size: cover;
    margin-top:13px;
    margin-left:14px;
}

*/

/* Member List */

.members_box {
    width: 1204px;
    height: 674px;
    top: 112px;
    overflow: hidden;
}

.members_box_under {
    width: 1204px;
    height: 54px;
    background-color: #323232;
    top: 44px;
}

.members_box_main {
    width: 1204px;
    height: 576px;
    background-color: rgba(224, 224, 224, 0.8);
    top: 98px;
}

.members_list {
    width: 648px;
    height: 576px;
    margin-top: 18px;
}

.members_list_e {
    width: 648px;
    margin-top: 14px;
}

 /* 1st Runner */

#mbr_list_1 {
    height: 94px;
}

#mbr_char_color_1 {
    background-color: #69EBDD;
    width: 190px;
    height: 94px;
}

#mbr_char_white_1 {
    background-color: #fdfdfd;
    width: 458px;
    height: 94px;
    left: 190px;
}

#mbr_char_avt_1 {
    background-image: url(../img/members/000_i.png);
    width:380px;
    height: 94px;
    margin-left: -40px;
}

#mbr_char_nm_1 {
    text-align: right;
    width: 648px; 
    padding-top: 24px;
}

#mbr_char_nm_cnt_1 {
    color: #69EBDD;
    font-family: Arial, Microsoft Yahei;
    font-size: 48px;
    margin-right: 90px;
}

#mbr_char_p_1 {
    text-align: right;
    width: 648px; 
}

#mbr_char_p_cnt_1 {
    color: #69EBDD;
    font-family: Arial, Microsoft Yahei;
    font-size: 96px;
    line-height: 94px;
    margin-right: 2px;
}

 /* 2nd Runner */

#mbr_list_2 {
    height: 94px;
}

#mbr_char_color_2 {
    background-color: #C43D69;
    width: 190px;
    height: 94px;
}

#mbr_char_white_2 {
    background-color: #fdfdfd;
    width: 458px;
    height: 94px;
    left: 190px;
}

#mbr_char_avt_2 {
    background-image: url(../img/members/001_i.png);
    width:380px;
    height: 94px;
    margin-left: -40px;
}

#mbr_char_nm_2 {
    text-align: right;
    width: 648px; 
    padding-top: 24px;
}

#mbr_char_nm_cnt_2 {
    color: #C43D69;
    font-family: Arial, Microsoft Yahei;
    font-size: 48px;
    margin-right: 90px;
}

#mbr_char_p_2 {
    text-align: right;
    width: 648px; 
}

#mbr_char_p_cnt_2 {
    color: #C43D69;
    font-family: Arial, Microsoft Yahei;
    font-size: 96px;
    line-height: 94px;
    margin-right: 2px;
}

 /* 3rd Runner */

#mbr_list_3 {
    height: 94px;
}

#mbr_char_color_3 {
    background-color: #D9EB41;
    width: 190px;
    height: 94px;
}

#mbr_char_white_3 {
    background-color: #D9EB41;
    width: 458px;
    height: 94px;
    left: 190px;
}

#mbr_char_avt_3 {
    background-image: url(../img/members/002_i.png);
    width:380px;
    height: 94px;
    margin-left: 0px;
}

#mbr_char_nm_3 {
    text-align: right;
    width: 648px; 
    padding-top: 24px;
}

#mbr_char_nm_cnt_3 {
    color: #eee;
    font-family: Arial, Microsoft Yahei;
    font-size: 48px;
    margin-right: 90px;
}

#mbr_char_p_3 {
    text-align: right;
    width: 648px; 
}

#mbr_char_p_cnt_3 {
    color: #D9EB41;
    font-family: Arial, Microsoft Yahei;
    font-size: 96px;
    line-height: 94px;
    margin-right: 2px;
}

 /* 4th Runner */

#mbr_list_4 {
    height: 94px;
}

#mbr_char_color_4 {
    background-color: #C43D69;
    width: 190px;
    height: 94px;
}

#mbr_char_white_4 {
    background-color: #fdfdfd;
    width: 458px;
    height: 94px;
    left: 190px;
}

#mbr_char_avt_4 {
    background-image: url(../img/members/001_i.png);
    width:380px;
    height: 94px;
    margin-left: -40px;
}

#mbr_char_nm_4 {
    text-align: right;
    width: 648px; 
    padding-top: 24px;
}

#mbr_char_nm_cnt_4 {
    color: #C43D69;
    font-family: Arial, Microsoft Yahei;
    font-size: 48px;
    margin-right: 90px;
}

#mbr_char_p_4 {
    text-align: right;
    width: 648px; 
}

#mbr_char_p_cnt_4 {
    color: #C43D69;
    font-family: Arial, Microsoft Yahei;
    font-size: 96px;
    line-height: 94px;
    margin-right: 2px;
}

 /* 5th Runner */

#mbr_list_5 {
    height: 94px;
}

#mbr_char_color_5 {
    background-color: #C43D69;
    width: 190px;
    height: 94px;
}

#mbr_char_white_5 {
    background-color: #fdfdfd;
    width: 458px;
    height: 94px;
    left: 190px;
}

#mbr_char_avt_5 {
    background-image: url(../img/members/001_i.png);
    width:380px;
    height: 94px;
    margin-left: -40px;
}

#mbr_char_nm_5 {
    text-align: right;
    width: 648px; 
    padding-top: 24px;
}

#mbr_char_nm_cnt_5 {
    color: #C43D69;
    font-family: Arial, Microsoft Yahei;
    font-size: 48px;
    margin-right: 90px;
}

#mbr_char_p_5 {
    text-align: right;
    width: 648px; 
}

#mbr_char_p_cnt_5 {
    color: #C43D69;
    font-family: Arial, Microsoft Yahei;
    font-size: 96px;
    line-height: 94px;
    margin-right: 2px;
}

/* Status */

.members_status_box {
    width: 534px;
    height: 524px;
    left: 658px;
    top: 32px;
    overflow: hidden;
}

.members_box_status_bar {
    background-color: #323232;
    height: 524px;
    width: 60px;
}

.members_box_status {
    background-color: #fdfdfd;
    height: 88px;
    width: 476px;
    left: 60px;
}

#mbr_sts_box_1 {

}

#mbr_sts_box_2 {
    top:88px;
}

#mbr_sts_box_3 {
    top:176px;
}

#mbr_sts_box_4 {
    top:264px;
}

#mbr_sts_box_5 {
    top:352px;
}

#mbr_sts_box_6 {
    top:440px;
}

.members_box_status_icon {
    margin:0;
    padding:0;
    display: inline-block;
    width: 56px;
    height: 88px;
    left: 56px;
    padding-top: 16px;
}

.members_box_status_icon_img {
    width: 56px;
    height: 56px;
}

.members_box_status_name {
    margin:0;
    padding:0;
    display: inline-block;
    font-family: Arial, Microsoft Yahei;
    color: #333;
    font-size: 42px;
    width: 254px;
    line-height: 88px;
    left: 122px;
}

.members_box_status_level {
    margin:0;
    padding:0;
    display: inline-block;
    font-family: Arial, Microsoft Yahei;
    color: #333;
    font-size: 56px;
    line-height: 88px;
    left: 366px;
}

/* Garage */

.garage_scroll {
    width: 1860px;
    height: 760px;
    top: 120px;
    left: 64px;
    overflow: auto;
}

.garage_box {
    width: 1800px;
    height: 64px;
    margin-bottom: 16px;
    background-color: rgba(244, 244, 244, 0.7);
}

.garage_box_left {
    width: 1700px;
    height: 64px;
    display: inline-block;
    position: absolute;
}

.garage_box_btn_a {
    display: inline-block;
    width: 60px;
    height: 64px;
    position: absolute;
    left: 1700px;
    background-color: #666;
}

.garage_box_btn_b {
    display: inline-block;
    width: 60px;
    height: 64px;
    position: absolute;
    left: 1600px;
    background-color: #666;
}

.garage_box_btn span{
    line-height: 64px;
}

/* Detail */

.detail_avatar {
    width: 800px;
    height: 1080px;
    background-color: #eee;
    top: 0;
    left: 0;
}

.detail_box {
    width: 1120px;
    height: 1080px;
    overflow: hidden;
    top: 0;
    left: 800px;
    overflow: hidden;
}
.detail_name {
     width: 1120px;
     height: 270px;
     background-color: #fdfdfd;
}

.detail_status {
    width: 1120px;
    height: 270px;
}

.detail_skill {
    width: 1120px;
    height: 270px;
    background-color: #fdfdfd;
}

.detail_story {
    width: 1120px;
    height: 270px;
    background-color: #666;
}

/* List */

.list_team {
    width: 860px;
    height: 1080px;
    overflow: hidden;
    background-color: #eee;
    top: 0;
    left: 0;
}

.list_team_box_01 {
    background-color: #666;
    width: 430px;
    height: 216px;
    top: 0;
    left: 0;
}

.list_team_box_02 {
    background-color: #eee;
    width: 430px;
    height: 216px;
    top: 0;
    left: 430px;
}

.list_team_box_03 {
    background-color: #eee;
    width: 430px;
    height: 216px;
    top: 216px;
    left: 0;
}

.list_team_box_04 {
    background-color: #666;
    width: 430px;
    height: 216px;
    top: 216px;;
    left: 430px;
}

.list_team_box_05 {
    background-color: #666;
    width: 430px;
    height: 216px;
    top: 432px;
    left: 0;
}

.list_team_box_06 {
    background-color: #eee;
    width: 430px;
    height: 216px;
    top: 432px;
    left: 430px;
}

.list_team_box_07 {
    background-color: #eee;
    width: 430px;
    height: 216px;
    top: 648px;
    left: 0;
}

.list_team_box_08 {
    background-color: #666;
    width: 430px;
    height: 216px;
    top: 648px;
    left: 430px;
}

.list_team_box_09 {
    background-color: #666;
    width: 430px;
    height: 216px;
    top: 864px;
    left: 0;
}

.list_team_box_10 {
    background-color: #eee;
    width: 430px;
    height: 216px;
    top: 864px;
    left: 430px;
}

.list_avatar {
    width: 420px;
    height: 1080px;
    background-image: url(../img/list_avatar/list_avt_01.png);
    background-size: cover;
    top: 0;
    left: 860px;
}

.list_info_name {
    width: 650px;
    height: 110px;
    top:0;
    left: 1280px;
    background-color: #eee;
}

.list_info_status {
    width: 650px;
    height: 218px;
    top: 110px;
    left: 1280px;
    background-color: #666;
}

.list_info_skill {
    width: 650px;
    height: 400px;
    top: 328px;
    left: 1280px;
    background-color: #eee;
}

.list_info_buff {
    width: 650px;
    height: 218px;
    top: 728px;
    left:1280px;
    background-color: #666;
}

.list_info_buttons {
    width: 650px;
    height: 134px;
    background-color: #eee;
    top: 946px;
    left: 1280px;
}

.list_info_button_detail {
    width: 64px;
    height: 64px;
    background-color: #999;
}

.list_info_button_change {
    width: 64px;
    height: 64px;
    background-color: #777;
}

.boxbox {
    width:64px;
    height: 64px;
}